<!-- Footer Component (footer.component.html) -->
<footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <a href="#https://professionalssummit.com/aboutus/">About Us</a> 
        <!-- <img src="/psf logo.png" alt=""> -->
        <!-- <p>The Professionals Summit 2024 is a dynamic event designed to empower and inspire professionals by offering unparalleled opportunities for growth, networking and knowledge sharing. We bring together industry leaders and innovators to share insights and trends, fostering a community of like-minded individuals passionate about advancing their careers.</p> -->
      </div>
      <div class="footer-section links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="https://professionalssummit.com/">Home</a></li>
          <li><a href="#https://professionalssummit.com/aboutus/">About</a></li>
          <li><a href="#https://professionalssummit.com/#speakers">Speakers</a></li>
          <li><a href="#https://professionalssummit.com/sponsorship/">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section social">
        <h3>Follow Us</h3>
        <a href="https://www.linkedin.com/in/psfhyd">linkedin</a> | <a href="https://x.com/psfhyd">Twitter</a> | <a href="https://www.instagram.com/psfhyd/">Instagram</a>
      </div>
    </div>
    <div class="footer-bottom">
      Copyright &copy;2024 Professionals Summit'24 . All rights reserved. Powered by WordPress & Designed by Bizberg Themes
    </div>
  </footer>
  