/* Footer Styles (footer.component.css) */
.footer {
    background-color: rgb(148, 137, 137);
    color: black;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .footer-section {
    max-width: 300px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-bottom {
    background-color: #e25757;
    padding: 10px;
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }
  