<div class="landing-container">
    <h1>Welcome to the Live Stream</h1>
    
    <div *ngIf="isLive; else notLive">
      <p>The video is live! Watch the stream below:</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tNkZsRW7h2c?si=ud3BnJHELP6i8Fv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>      <!-- <video *ngIf="isLive" [src]="" controls autoplay></video> -->
    </div>
  
    <ng-template #notLive>
      <p>The video is not live right now. Please check back later.</p>
    </ng-template>
  </div>
  