<!-- Navbar Component (navbar.component.html) -->
<nav class="navbar">
    <div class="logo">
      <!-- <a href="/">Professionals Summit 24</a> -->
      <img src="/PSF-Summit-Logo.png" alt="">

    </div>
    <ul class="nav-links">
      <li><a href="https://professionalssummit.com/">Home</a></li>
      <li><a href="https://professionalssummit.com/aboutus/">About</a></li>
      <li><a href="https://professionalssummit.com/#speakers">Speakers</a></li>
      <li><a href="https://professionalssummit.com/sponsorship/">Contact</a></li>
    </ul>
    <div class="menu-toggle" (click)="toggleMenu()">☰</div>
  </nav>
  
